@mixin button ($background-color: $theme-color, $btn-text-color: #fff) {
	display: inline-block;
	vertical-align: top;
	padding: 10px 30px;
	color: $btn-text-color;
	background: $background-color;
	text-transform: uppercase;
	border-radius: 5px;
	text-decoration: none;
	
	&:hover {
		background: lighten($background-color, 20%);
	}
	
}

.content-section {
	
	h2 {
		color: $theme-color;
	}
	
	&__holder {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	&__image {
		height: 500px;
		width: 50%;
		background: #333333;
		
		&--right {
			order: 1;
		}
	}
	
	&__text-box {
		flex: 1 0 0;
		
	}
	
}